[submodule "external/cmake-ci"]
	path = external/cmake-ci
	url = ../cmake-ci.git
[submodule "external/wfc"]
	path = external/wfc
	url = ../wfc.git
	branch = master
[submodule "external/wfc_core"]
	path = external/wfc_core
	url = ../wfc_core.git
	branch = master
[submodule "external/wfc_io"]
	path = external/wfc_io
	url = ../wfc_io.git
	branch = master
[submodule "external/wfc_jsonrpc"]
	path = external/wfc_jsonrpc
	url = ../wfc_jsonrpc.git
	branch = master
